.label {
    width: 100%;
    text-align: left;
}

.select {
    width: 100%; 
}

.shapeSelector {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.fieldSet {
    display: flex;
}